<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button 
        text=""
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>

    <ion-title> {{ productData?.name }} </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios" *ngIf="productData !== undefined" class="product">
    <img [src]="productData?.image">
    <ion-card-header>
      <ion-card-title>
        {{ productData?.name }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ productData?.description }}
    </ion-card-content>

    <ion-item lines="none">
      {{ productData?.price }}
      <ion-button *ngFor="let btn of propertyBtns" (click)="calculateValues(btn.type, undefined, btn.value)" class="product-btn">
        {{ btn.name }}
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-item lines="inset">
        <ion-label position="stacked">Amount, $</ion-label>
        <ion-input (ionInput)="calculateValues('price', $event, undefined)" type="number" [(ngModel)]="currentAmount"></ion-input>
      </ion-item>
  
      <ion-item lines="inset">
        <ion-label position="stacked">Quantity</ion-label>
        <ion-input (ionInput)="calculateValues('qty', $event, undefined)" type="number" [(ngModel)]="currentQty"></ion-input>
      </ion-item>
    </ion-item>

  </ion-card>

</ion-content>
