<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button 
        text=""
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    
    <ion-title> Список товаров </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar
    class="search" 
    placeholder="Наименование товара"
    [(ngModel)]="searchValue"
    (ionChange)="filterData($event)">
  </ion-searchbar>

  <ion-virtual-scroll [items]="productsToShow">
    <ion-item *virtualItem="let product" mode="ios" button="true" (click)="navigateToPage('tabs/product/' + product.sku)">
      <ion-thumbnail slot="start">
        <ion-img class="product-image" [src]="product.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h3> {{ product.name }} </h3>
        <p> {{ product.description }} </p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>

</ion-content>
